<html lang="en">

<head>
  <meta charset="utf-8">
  <title>BVTV</title>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="../../styles/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="../../styles/bootstrap/bootstrap-theme.css">

  <script src="../../scripts/jquery.js"></script>
  <script src="../../scripts/bootstrap.js"></script>

  <style>
    body, html {
      height: 100%;
      background:#272727;
    }

    .bg { 
      background-image: url("../../images/siemens/siemens.jpg");
      height: 100%; 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>

<body>
  <div class="bg"></div>
</body>

</html>